h2{
	font-size: 30px;
	display: block;
	text-align: center;
	margin-bottom: 15px;
	color: #666;
}

h3{
	font-size: 20px;
	display: block;
	text-align: center;
	color: #000;
	font-weight: bold;
}

ul{
	padding: 20px;
}

li{
	list-style-type: none;
	line-height: 40px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

.settings{
	width: 320px;
	text-align: left;
	margin: 20px;
}

.item_name {
	display: inline-block;
	width: 80px;
	text-align: right;
	margin-right: 5px;
}

.num {
	width: 70px;
	display: inline;
	text-align: right;
	padding: 0px;
}

input[type="range"] {
	width: 100px;
	position: relative;
	bottom: -3px;
}

output {
	width: 50px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	border: none;
	background-color: #eee;
	position: relative;
}

.say {
	width: 140px;
	display: inline;
}